<mat-sidenav mode="side" opened>

  <mat-nav-list role="list">
    <mat-list-item role="listitem"  routerLink="/featured">
      <mat-icon matListItemIcon>home</mat-icon>
      <div matListItemLine>Home</div>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/subscriptions">
      <mat-icon matListItemIcon>subscriptions</mat-icon>
      <div matListItemLine>Subscriptions</div>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/history">
      <mat-icon matListItemIcon>history</mat-icon>
      <div matListItemLine>History</div>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/liked-videos">
      <mat-icon matListItemIcon>thumb_up</mat-icon>
      <div matListItemLine>Liked Videos</div>
    </mat-list-item>
  </mat-nav-list>

</mat-sidenav>


